body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;

}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
.container {
	width: 950px;
	margin: 10px auto;
	font: 20px Arial, Helvetica, sans-serif;
	border:4px solid #0454ae;
}
p {margin: 10px;}

/* Navigation */
ul#navigation {
	list-style-type: none;
	background: #327cdd;
	height: 63px;
	font-size: 20px;
}

ul#navigation li {
	float: left;
	width: 175px;
	text-align: center;
	position: relative;
	height: 63px;
	padding: 20px 5px 10px 5px;
}

ul#navigation li a {
	color: #fff;
	text-decoration: none;
	display: block;
}

ul#navigation li a.active {
	border: 1px solid blue;
}

ul#navigation li ul.subnav {
	background: #55cbe6;
	width: 175px;
	clear: both;
	display: none;
	position: absolute;
	top: 62px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-left: 2px solid #998;
	border-right: 2px solid #998;
	border-bottom: 2px solid #998;
	opacity: 0;
	list-style-type: none;
}

ul#navigation li ul.subnav li {
	clear: both;
	height: 40px;
	padding: 0;
	text-align: center;
	margin: 0px;
}

ul#navigation li ul.subnav li a {
	background: none;
	font-size: 20px;
	color: #292626;
	text-decoration: none;
	padding: 10px 0;
	border: none;
}

ul#navigation li ul.subnav li a:hover {
	background: #2cbacf;
	font-size: 20px;
	color: #252020;
	border: none;
    -moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}